

log/*
erts-*/*
erl_crash.dump
*~
*.svn*
deps/mochiweb/doc/*
src/erlydtl/erlydtl_parser.erl
src/tests/erlydtl/rendered_output/*
priv/log/*
priv/sites/default/files/*
priv/sites/*/config
priv/config
*.orig
.DS_Store
*.beam
*.o
*.lo
*.la
*.lai
*.so
*.Plo
*.wmtrace
site/.eunit/
.eunit
doc
waf_build
waf-*
/ebin/
.rebar
eprof-report.log
.depsolver_plt

_build/
# vscode container
.devcontainer/

# Hum this file is not versioned right now
# https://www.rebar3.org/docs/workflow/
# rebar.lock

TEST-*.xml

# Test db is often here:
dump.rdb