

log/*
erts-*/*
lib/*
erl_crash.dump
*~
ebin/*
*.svn*
deps/mochiweb/doc/*
src/erlydtl/erlydtl_parser.erl
src/tests/erlydtl/rendered_output/*
priv/log/*
priv/sites/default/files/*
priv/sites/*/config
priv/config
*.orig
.DS_Store
*.beam
*.o
*.lo
*.la
*.lai
*.so
*.Plo
*.wmtrace
site/.eunit/
.eunit
doc
waf_build
waf-*
/ebin/
